[oO]bj/
[Bb]in/
nuget/lib/
src/TCode.r2rml4net/packages/
*.suo
*.user
src/packages/
src/_ReSharper.TCode.r2rml4net/*
src/TCode.r2rml4net/Properties/AssemblyInfo.cs
src/TCode.r2rml4net.Mapping/Properties/AssemblyInfo.cs
AssemblyVersionInfo.cs
src/**/VersionAssemblyInfo.cs
