before_build:
  - ps: gitversion /l console /output buildserver /updateassemblyinfo

build_script:
  - ps: dotnet pack -c Release TCode.r2rml4net.sln

test_script:
  - dotnet test TCode.r2rml4net.sln

artifacts:
  - path: '*.nupkg'
