source https://www.nuget.org/api/v2

storage: none

nuget DatabaseSchemaReader
nuget dotNetRDF >= 2
nuget Freezable.Fody
nuget NullGuard.Fody
nuget Resourcer.Fody
nuget moq
nuget xunit
nuget xunit.extensibility.execution
nuget xunit.runner.visualstudio
nuget Xunit.SkippableFact
clitool dotnet-xunit
nuget SqlLocalDb
nuget System.Data.SqlClient
