<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings>
    <add name="SqlServer" connectionString="Data Source=(local);Initial Catalog=SchemaReaderTest;Integrated Security=SSPI;"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
    <add name="SqlServerMaster" connectionString="Data Source=(local);Initial Catalog=master;Integrated Security=SSPI;"
         xdt:Locator="Match(name)" xdt:Transform="SetAttributes(connectionString)" />
  </connectionStrings>

</configuration>