<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <uri>
        <iriParsing enabled="true" />
    </uri>

    <connectionStrings>
      <add name="SqlServer" connectionString="set in App.Debug.config" />
      <add name="SqlServerMaster" connectionString="set in App.Debug.config" />
    </connectionStrings>
</configuration>
