<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DatabaseSchemaReader" version="1.2.8.0" targetFramework="net40" />
  <package id="dotNetRDF" version="1.0.0.2533" targetFramework="net40" />
  <package id="Fody" version="1.13.8.0" targetFramework="net40" />
  <package id="Freezable.Fody" version="1.6.1.1" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="MSBuildTasks" version="1.4.0.45" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net40" />
  <package id="VDS.Common" version="1.2.0" targetFramework="net40" />
</packages>